In [18]:
class phone:
    
    def make_shot(self):
        print("mobile can take selfie")
        
    def colours(self,colour):
        self.colour=colour
        
p1=phone()
p1.make_shot()

p2=phone()
p2.colours("red")

print(p2.colour)

mobile can take selfie
red

In [19]:
class employee:
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
        
    def _employee_details(self):
        print("tha name of the employee is ", self.name)
        print("tha age of the employee is ", self.age)
        print("tha salary of the employee is ", self.salary)
        
E1=employee("ram",21,25000)
E1._employee_details()

tha name of the employee is  ram
tha age of the employee is  21
tha salary of the employee is  25000

In [20]:
class vehicle:
    def __init__(self,speed,cost):
        self.speed=speed
        self.cost=cost
        
    def vehicle_details(self):
        print("The speed of the vehicle is ",self.speed)
        print("the cost of the vehicle is",self.cost)
        
class Bike(vehicle):
    def bike_Details(self):
        print("this was the good bike")
        
V1=Bike(125,50000)
V1.bike_Details()
V1.vehicle_details()

this was the good bike
The speed of the vehicle is  125
the cost of the vehicle is 50000

In [21]:
class vehicles:
    def __init__(self,milage,cost):
        self.milage=milage
        self.cost=cost
        
    def show_vehicle_details(self):
        
        print("the milage of the vehicle is ",self.milage)
        print("the cost of the vehicle is ",self.cost)
        
class Bike(vehicles):
    def __init__(self,speed,range):
        
        self.speed=speed
        self.range=range
            
    def bike_details(self):
        print("the speed of the vehicle is ",self.speed)
        print("the range of the vehicle is ",self.range)
        
s1=Bike(100,250)
s1.bike_details()

the speed of the vehicle is  100
the range of the vehicle is  250

In [22]:
class student:
    school="BGS"
    def __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
        
    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    
    def set_m1(self,value):
        self.m1=value
        
    def get_m1(self):
        return self.m1
    
    @classmethod
    def get_school(cls):
        return cls.school
        
        
s1=student(20,30,40)
print(s1.avg())

print(s1.get_m1())

print(s1.set_m1(50))
print(s1.m1)
print(student.get_school())

30.0
20
None
50
BGS

In [23]:
class publication:
    def __init__(self,title,price):
        self.title=title
        self.price=price
        
class authorization:
    def __init__(self,author,publication):
        self.author=author
        self.publication=publication
        
class Book(publication):
    def __init__(self,title,price):
        super().__init__(title,price)
        
class news(authorization):
    def __init__(self,author,publication):
        super().__init__(author,publication)
        
        
b1=Book("name",10)
print(b1.title," ",b1.price)

b2=news("rakshith","times of india")
print(b2.author)

name   10
rakshith

In [24]:
from abc import ABC , abstractmethod

class calculation(ABC):
    def __init__(self):
        super().__init__()
        
    def calarea(self):
        pass
    
class calcircle(calculation):
    def __init__(self,radius):
        self.radius=radius
        
    def calarea(self):
        return 3.14 * (self.radius**2)
    
    
class calsqu(calculation):
    def __init__(self,side):
        self.side=side
        
    def calarea(self):
        return self.side*self.side
    
        
    
c1=calcircle(5)
print(c1.calarea())  
c2=calsqu(20) 
print(c2.calarea())

78.5
400

In [25]:
class book:
    def __init__(self,name,author,price):
        self.name=name
        self.author=author
        self.price=price
        
    def __eq__(self,other):
        return ( self.price==other.price)
    
    def __ge__(self,other):
        return ( self.price>=other.price)
    
    def __lt__(self,other):
        return (self.price<=other.price)
    
    
b1=book("5 am ","robin sharma",150)
b2=book("6 am ","rakesh sharma",100)   
    
print(b1<=b2)

False